### Jug output directories ###
**/jugdir/

### __pycache__ ###
__pycache__/
*/__pycache__/

### JupyterNotebook ###
.ipynb_checkpoints*
*/.ipynb_checkpoints/*

### "resource files" beginning with `._` ###
**/._*
*/**/._*

### DS_Store files ###
**/.DS_Store*
**/_.DS_Store*
._.DS_Store

# .pyc files
*/*.pyc
